*.factorypath
*~
*.iml
*.ipr
*.iws
*.ids
bin/
*build/
*generated/
.gradle/
.settings/
.classpath
.project
.directory/
.idea/
.classes/
build.gradle
gradle.properties
gradle
gradlew
gradlew.bat
out/
/.nb-gradle/
classes/
